h1 {
    color: blue;
}

.bigger-text {
    font-size: 110%;
}

.smaller-text {
    font-size: 85%;
}

marquee img {
    height: 50px;
}

.odd-text {
    text-decoration: underline;
}

.strong-text {
    font-weight: bold;
}

#port div img {
    width: 338px;
}

aside {
    width: 250px;
    position: absolute;
    top: 55px;
    left: 1000px;
    border: 1px red dotted;
    padding: 15px;
    margin: 15px;
}